################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RoundTable.Dialog.PopupPicker/v16/Server/sqlite3/db.lock
